input{
    background-color: rgb(45, 39, 79);
color: aqua;
display: inline-block;

width: 180px; 
}
 body {
background-color: rgba(92, 39, 161, 0.998);
font-family: monospace;
background:   
linear-gradient(105deg, rgba(6, 32, 149, 0.2) 39%, rgb(40, 101, 113) 96%) center center / 600px 800px no-repeat,
center no-repeat, 
rebeccapurple;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
text-align: center;

border: #8e0505;
}
select:valid,
input:valid{
    border-width: 2px;
    border-color: #105c15;
    border-style:solid;
    background-color: #2a361c;
    
}

select:invalid,
input:invalid{
border-width: 2px;
border-color: #a40805;
border-style:solid;
background-color: #8e0505;

}
/* .encabezado{
/* background-color: rgb(255, 219, 127);
 */
 /* display:inline-block;
 width: 10px; 
 color: aqua;
 background-color: rgb(45, 39, 79);
 margin:rgb(23, 44, 44);
 color: rgb(226, 233, 210);
}
  */ 